/* .texture {
    width: 1440px;
    height: 54px;
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0.5);
} */
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.Topbar {
    width: 1440px;
    height: 54px;
    object-fit: contain;
    box-shadow: 0 2px 6px 0 rgba(7, 61, 125, 0.3);
    background-image: linear-gradient(to left, #ff4536, #073c7e);
}

.btn {
    width: 66px;
    height: 16px;
    opacity: 0.6;
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;

}

.menu ul li {
    list-style: none;
    display: inline;
}

.Logo {
    width: 97px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    top: 15px;
    left: 60px;
}

.btn-list {
    position: absolute;
    left: 237px;
    top: 19px;
}

.avatar {
    position: absolute;
    top: 7px;
    right: 62px;
}

.Active-bg {
    width: 98px;
    height: 54px;
    opacity: 0.3;
    background-image: linear-gradient(to top, #ff4536 2%, rgba(7, 60, 126, 0));
}

.pad {
    padding: 19px 25px;
}
.form {
    position: absolute;
    top: 90px;
    left: 740px;
   
}
.arrow > a,p {
    position: absolute;
    top: 91px;
}
.arrow > p {
    left: 85px;
    color: #3277cc;
}
.arrow > a {
    left: 61px;
}
input{
    border-radius: 2px;
    width: 250px;
    height: 24px;
}
::placeholder {
    color:  rgb(189, 186, 186);;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(189, 186, 186);
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(189, 186, 186);;
}